# .gitignore

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
*.pem

# python venv
venv
.venv

# builds
*.egg-info
/build
/dist

# Github Secrets
.secrets

# act events
/.github/act-events
